<template>
    <f7-navbar class="navbar">
      <f7-nav-left>
        <f7-link href="/lot/" back-link="Back">
          <f7-icon icon="icon-back"></f7-icon>
        </f7-link>
        <f7-nav-title class="text-left">{{ title }}</f7-nav-title>
      </f7-nav-left>
    </f7-navbar>
</template>

<script>
export default {
  components: {},
  props: [
    "title",
  ],
  setup() {

  }
}

</script>

<style scoped>
  .navbar {
    background-color: var(--primary-color) !important;
    color: var(--terciary-color);
  }

  .icon-back:after {
    color: var(--terciary-color);
  }
</style>
