<template>
    <f7-list accordion-list>
      <f7-list-item accordion-item :title="title.replace('_', ' ')">
        <f7-accordion-content>
          <f7-block>
              <f7-row class="info" v-for="(value, key) in accordion_info" :key="`${key}-${value}`">
                <f7-col width=55 class="title-info">
                    {{ key }}
                </f7-col>
                <f7-col width=45 class="content-info">
                    {{ value }}
                </f7-col>
              </f7-row>
          </f7-block>
        </f7-accordion-content>
      </f7-list-item>
    </f7-list>
</template>

<script>
export default {
  props: ['accordion_info', 'title'],
  setup(props) {

  }
}

</script>

<style scoped>

 .info {
    padding: 12px;
    background-color: var(--icon-bg-color) !important;
  }

 .title-info {
    font-size: 14px;
    color: var(--secondary-letter-color);
    padding-left: 5px;
  }

 .content-info {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: bold;
  }

 .align-right {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
  }

    .no-bold {
    font-weight: normal;
    size: var(--title-font-size) !important;
    color: var(--terciary-color);
  }

  .padding-block {
    padding: 12px;
  }

  .secondary-color-bg {
    background-color: var(--secondary-color);
  }

  .primary-color-bg {
    background-color: var(--primary-color);
  }

  .row {
    justify-content: initial !important;
  }

  .logo-container {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin-right: 11.5px;
  }

  .logo {
    margin: 20% auto;
  }

  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>