<template>
  <f7-navbar class="navbar">
    <f7-nav-left>
      <f7-link href="/home/">
        <div class="icon-background">
          <img
              src="../../static/ploutos-logo-white.png"
              alt="Ploutos logo"
              class="ploutos-logo"
          />
        </div>
      </f7-link>
      <f7-nav-title class="text-left">Ploutos</f7-nav-title>
    </f7-nav-left>
    <f7-link href="/login/" class="logout-icon">
      <div class="icon-background">
        <img
            src="../../static/icons/logout.png"
            alt="Logout"
            class="ploutos-logo"
        />
      </div>
    </f7-link>
  </f7-navbar>
</template>

<script>
export default {
  setup() {},
};
</script>

<style scoped>
.navbar {
  background-color: var(--primary-color) !important;
  color: var(--terciary-color);
}

.ploutos-logo {
  display: block;
  margin: 0 auto;
  width: 15.84px;
  height: 23px;
  margin-top: 5.5px;
  color: white;
}

.icon-background {
  background-color: var(--ternary-color);
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.logout-icon {
  margin-left: auto;
  margin-right: 10px;
}
</style>
