<template>
    <f7-page name="detail">
        <NavBar title="Details" />
        <StaticInfo />
    </f7-page>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import StaticInfo from "../components/detail/StaticInfo.vue";

export default {
    components: { NavBar, StaticInfo },
    setup(props) {
        return {};
    },
};
</script>

<style scoped>
.no-bold {
    font-weight: normal;
    size: var(--title-font-size) !important;
    color: var(--terciary-color);
}

.padding-block {
    padding: 12px;
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.primary-color-bg {
    background-color: var(--primary-color);
}

.row {
    justify-content: initial !important;
}

.logo-container {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin-right: 11.5px;
}

.logo {
    margin: 20% auto;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-right {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.info {
    padding: 12px;
    background-color: var(--icon-bg-color) !important;
}

.title-info {
    font-size: 14px;
    color: var(--secondary-letter-color);
    padding-left: 5px;
}

.content-info {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: bold;
}

/* for the moment i won't use it */
.contacts-list li:not(.list-group-title) {
    padding-left: 0px;
}
</style>
